<% # andradl2 %>
<% if @notifications.empty? %>
  <center><h1>You do not have any notifications!</h1></center>
<% else %>
  <center><h1>Notifications</h1></center>
  
  <br>

  <% if current_user.approved_org? %>
    <div class="styledButton" align="center">
      <h1>If you want to send a notification to your subscribers, click 
      <a><%= link_to 'here', new_notification_path, :class => "" %></a>!<h1>
    </div>
  <% end %>

  <table id="notifications" align="center">
    <thead>
    </thead>
    <tbody>
      <% @notifications.each do |notification| %>
        <tr id="notifications">
          <td id="notifications"><%= notification.name %></td>
          <td id="notifications">(<%= notification.created_at %>)</td>
          <td id="notifications"><%= link_to 'Read', notification %></td>
          
          <% if current_user.admin? %>
            <td id="notifications">
              <%= link_to 'Delete', notification, method: :delete, data: {confirm: "Are you sure? Nobody will be able to see this notification again."} %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
