<% # andradl2 %>
<h2 style="text-align:center">Event Roster for <%= @opportunity_name%></h2>

<br>

<% if @roster.empty? %>
  <div class="opportunities" align="center">
    <p class="container">
      <h1>Nobody has favorited this event at this time.</h1>
    </p>
  </div>
<% else %>
  <table align="center">
    <thead>
      <tr>
        <th>Name:</th>
        <th>Email:</th>
        <th>Major:</th>
        <th>Academic Year:</th>
        <th>Area of Interest:</th>
      </tr>
      <% @roster.each do |user| %>
        <tr>
          <td><%= "N/A" %></td>
          <td><%= user.email %></td>
          <td><%= "N/A" %></td>
          <td><%= "N/A" %></td>
          <td><%= "N/A" %></td>
        </tr>
      <% end %>
    </thead>
  </table>
<% end %>

<br>

<div style="text-align: center;">
  <div class="styledButton">
    <%= link_to 'Back', @opportunity %>
  </div>
</div>